WebserviceCache/Contracts/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:tns="http://www.pommerening-online.de/wsdl/CustomerService/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.pommerening-online.de/wsdl/CustomerService/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.pommerening-online.de/wsdl/CustomerService/">
      <xsd:element name="CustomerInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="request" type="tns:CustomerInfoRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustomerInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="request" type="tns:CustomerInfoResponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CustomerInfoRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FirstName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ZipCode" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerInfoResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="CustomerId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Title" type="tns:Title" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FirstName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ZipCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ReliabilityIndex" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Title">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Herr" />
          <xsd:enumeration value="Frau" />
          <xsd:enumeration value="Dr." />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerInfo_Input">
    <wsdl:part name="parameters" element="tns:CustomerInfoRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerInfo_Output">
    <wsdl:part name="parameters" element="tns:CustomerInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerInfo_PortType">
    <wsdl:operation name="CustomerInfo">
      <wsdl:input message="tns:CustomerInfo_Input" />
      <wsdl:output message="tns:CustomerInfo_Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerInfo_Binding" type="tns:CustomerInfo_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerInfo">
      <soap:operation soapAction="http://www.pommerening-online.de/wsdl/CustomerService/CustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerInfoService">
    <wsdl:port name="CustomerInfo_Port" binding="tns:CustomerInfo_Binding">
      <soap:address location="http://www.pommerening-online.de/API/CustomerInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>