WebservicePersistence/Contracts/EnergyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:tns="http://www.pommerening-online.de/wsdl/EnergyService/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.pommerening-online.de/wsdl/EnergyService/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.pommerening-online.de/wsdl/EnergyService/">
      <xsd:element name="BookCapacityRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="request" type="tns:BookCapacityRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BookCapacityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="request" type="tns:BookCapacityResponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BookCapacityRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="MessageIdentifier" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Customer" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ValidFrom" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ValidTo" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Unit" type="tns:CapacityUnit" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BookCapacityResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="MessageIdentifier" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Unit" type="tns:CapacityUnit" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Quantity" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CapacityUnit">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MWh" />
          <xsd:enumeration value="KWh" />
          <xsd:enumeration value="GWh" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookCapacity_Input">
    <wsdl:part name="parameters" element="tns:BookCapacityRequest" />
  </wsdl:message>
  <wsdl:message name="BookCapacity_Output">
    <wsdl:part name="parameters" element="tns:BookCapacityResponse" />
  </wsdl:message>
  <wsdl:portType name="BookCapacity_PortType">
    <wsdl:operation name="BookCapacity">
      <wsdl:input message="tns:BookCapacity_Input" />
      <wsdl:output message="tns:BookCapacity_Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookCapacity_Binding" type="tns:BookCapacity_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookCapacity">
      <soap:operation soapAction="http://www.pommerening-online.de/wsdl/EnergyService/BookCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookCapacityService">
    <wsdl:port name="BookCapacity_Port" binding="tns:BookCapacity_Binding">
      <soap:address location="http://www.pommerening-online.de/API/BookCapacityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>